{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Detalles de la Compra</h1>
    <p><strong>Cliente:</strong> {{ compra.cliente.nombre }}</p>
    <p><strong>Producto:</strong> {{ compra.producto.nombre }}</p>
    <p><strong>Fecha:</strong> {{ compra.fecha }}</p>
    <p><strong>Detalles:</strong> {{ compra.detalle }}</p>
    <a href="{% url 'compra_list' %}" class="btn btn-secondary">Volver a la lista</a>
    <a href="{% url 'compra_view' compra.id %}" class="btn btn-info">Ver Detalles</a>

</div>
{% endblock content %}
