{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Listado de Productos</h1>
    <div class="card shadow-sm border-light">
        <div class="card-body">
            <div class="my-3">
                <a href="{% url 'producto_create' %}"  class="btn btn-danger mb-3" ><i class="bi bi-plus">Agregar inventario</i> </a>
                <a href="{% url 'cliente_list' %}"  class="btn btn-danger mb-3" ><i class="bi bi-search">Clientes</i></a>
                <a href="{% url 'compra_list' %}" class="btn btn-danger mb-3"><i class="bi bi-search"> Compras</i></a>
            </div>
            <table class="table table-hover table-danger table-bordered text-center">
                <thead class="table-success">   
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>{{ producto.precio }}</td>
                        <td class="d-flex justify-content-around">
                            <a href="{% url 'producto_update' producto.id %}" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form action="{% url 'producto_delete' producto.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

